<a href="https://colab.research.google.com/github/kirtimaya123/KIRTIMAYA_AIML_48/blob/main/24_1_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.INPUT RADIUS FINDS AREA OF CIRCLEAND PEREMETER OF THE CIRCLE

In [1]:
r=int(input("ENTER RADIUS OF THE CIRCLE:"))
area=3.141*r*r
perimeter=2*3.141*r
print("THE AREA OF CIRCLE OF GIVEN CIRCLE IS=",area)
print("THE PERIMETER OF CIRCLE OF GIVEN CIRCLE IS=",perimeter)

ENTER RADIUS OF THE CIRCLE:5
THE AREA OF CIRCLE OF GIVEN CIRCLE IS= 78.525
THE PERIMETER OF CIRCLE OF GIVEN CIRCLE IS= 31.41

2.INPUT KILOMETER CONVERTS TO CENTIMETER,METER AND MILIMETER

In [3]:
 km=float (input("ENTER KILOMETER VALUE= "))
 m=km*1000
 cm=km*100000
 mm=km*1000000
 print("THE GIVEN KILOMETER IN METER IS=",m)
 print("THE GIVEN KILOMETER IN CENTIMETER IS=",cm)
 print("THE GIVEN KILOMETER IN MILIMETER IS=",mm)

ENTER KILOMETER VALUE= 7.33
THE GIVEN KILOMETER IN METER IS= 7330.0
THE GIVEN KILOMETER IN CENTIMETER IS= 733000.0
THE GIVEN KILOMETER IN MILIMETER IS= 7330000.0

3.INPUT TWO NUMBERS FIND SUM WITHOUT'+'OPERATOR

In [8]:
a=int(input("ENTER a VALUE="))
b=int(input("ENTER b VALUE="))
def sum(a,b):
       for i in range(1,b + 1):
           a=a+1
       return a
print('SUM OF NUMBERS=',sum(a,b))

ENTER a VALUE=5
ENTER b VALUE=7
SUM OF NUMBERS= 12

4.INPUT TWO NUMBERS FIND REMAINDER WITHOUT'%'

In [9]:
a=int(input("ENTER a VALUE="))
b=int(input("ENTER b VALUE="))
def rem(a,b):
    return(a-b*(a//b))
print("THE REMAINDER IS=",rem(a,b))

ENTER a VALUE=100
ENTER b VALUE=7
THE REMAINDER IS= 2

5.INPUTS TEMPERATURE FINDS CELSIUS AND FAHRENHEIT AND VICE VERSA

In [20]:
Celsius=float(input("Enter the value :"))
Fahrenheit=(Celsius * 1.8) + 32
print("The Value in Fahrenheit",Fahrenheit)
Fahrenheit_f=float(input("Enter the value : "))
Celsius=int((Fahrenheit - 32) / 1.8)
print("The value in Celsius",Celsius)

Enter the value :23
The Value in Fahrenheit 73.4
Enter the value : 73.4
The value in Celsius 23

INPUT A NUMBER FINDS REVERSE NUMBER WITHOUT LOOPING STRUCTURE

In [21]:
n = int(input('Enter the number: '))
rev = int(str(n)[::-1])
print('The reverse number is =', rev)

Enter the number: 123
The reverse number is = 321